img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin-top: 0;
}

pre code {
    background-color: lightgrey;
    border: 1px solid darkgrey;
    display: block;
    padding: 2ch;
    overflow: auto;
}

blockquote {
    border-left: 1px solid darkgrey;
    padding-left: 2ch;
    white-space: pre-line;
}

code, q {
    background-color: lightgrey;
    padding: 0.5ch;
    display: inline-block;
}

.site {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: max-content max-content auto;
    grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
}

.site-aside {
    grid-area: aside;
}
.site-aside ul {
    list-style-type: none;
    margin: 0;
    margin-top: 0.5em;
    border: 0;
    padding: 0;
}
.site-aside li a {
    width: 100%;
    display: block;
}

@media only screen and (min-width: 81ch) {
    .site-aside {
        position: sticky;
        top: 1em;
        height: calc(100vh - 2em);
    }
    .site-aside figure {
        margin: 0px;
    }
}

@media only screen and (max-width: 80ch) {
    .site {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content auto;
        grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
    }
}

.site-nav ul {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
}
.site-nav li{
    float: left;
}
.site-nav a{
    display: block;
    padding-right: 1ch;
}

.site-header {
    grid-area: header;
}
.site-header h1 {
    margin: 0;
}

.main {
    grid-area: main;
    max-width: 70ch;
}

main .heading {
    margin:0;
}
main .heading time {
    color: darkgrey;
    display:block;
    text-align:right;
}

.references {
    font-size: 0.8em;
    display: block;
    list-style-type: none;
}

.site-footer {
    grid-area: footer;
}
