img {
    max-width: 100%;
    height: auto;
}

.site {
    display: grid;
    grid-gap: 1ch;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
}

@media only screen and (max-width: 80ch) {
    .site {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    }
}

.site-aside {
    grid-area: aside;
}

.site-header {
    grid-area: header;
}

.main {
    grid-area: main;
}

/*.main {
  max-width: 70ch;
  padding: 1.5rem;
  margin: auto;
}*/

.site-footer {
    grid-area: footer;
}
