<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="resources/style.css">
        <title>It's a bug, not a feature</title>
    <head/>
    <body>
        <div class="site">
            ##HEADER##

            ##ASIDE##

            <main class="main">
                <article>
                    <h1>Lorum Ipsem</h1>
                    <section>
                        Lorum Ipsem
                    </section>
                </article>
            </main>

            ##FOOTER##
        </div><!-- .site -->
    </body>
</html>

            
